body {
    background-image: url(../image/dark_Tire.png);
}

p {
    text-align: center;
    color: White;
}

table tr td{
    align: center;
    color: White;
}

table.center{
    margin-left: auto ;
    margin-right: auto ;
   }