a.btn-green{
  padding: 0.5em;
  margin: 10px 0;
  display: block;
  color: #fff !important;
  background: #00913D;
  text-decoration: none;
  font-weight: bold;
  font-size:16px;
  border-radius: 3px;
  text-align:center;
  text-decoration:none !important;
}
a.btn-green:before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -3px 5px 0 0;
  background: url("../image/btn043_10.gif") no-repeat;
  background-size: contain;
  vertical-align: middle;
}
a.btn-green:hover {
    background: #6FB83F;
}

@media screen and (min-width: 768px){
  a.btn-green{
    padding: 0.5em 2em;
    margin: 10px auto;
    font-size:20px;
    display:inline-block;
    }
  a.btn-green:before {
        margin: -3px 10px 0 0;
    }
}