header {
    position:relative;
    height: 30vh;
    background: url(../image/title.png);
    background-repeat: no-repeat;
}

@media only screen and (max-device-width: 1024px) {
    header {
    position:relative;
    max-width: 100%;
    height:30vh;
    background: url(../image/title.png);
    background-repeat: no-repeat;
}
}
@media only screen and (max-device-width: 460px) {
    header {
    position:relative;
    max-width: 90%;
    height:20vh;
    background: url(../image/title.png);
    background-repeat: no-repeat;
}
}