<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <title>管理画面</title>
</head>
<header>
    <h1>Halfscreen Photo Header</h1>
</header>
<body>

    <!-- ロースター作成 -->
    <a class="btn btn-primary" th:href="@{/roster}">ロースター作成</a>

    <!--
    <a class="btn btn-primary" th:href="@{/items/{id}/edit(id=*{id})}">変更</a>
    <a class="btn btn-primary" th:href="@{/items/{id}/edit(id=*{id})}">変更</a>
     -->
</body>
</html>