<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/button.css" />
    <link rel="stylesheet" href="/css/body.css" />
    <title>Strrugle For Life</title>
</head>

<header>
</header>

<body>
    <!-- ロースター作成 -->
    <p>
    <a th:href="@{/roster}">ロースター作成</a>
    </p>
    <!-- 結果入力 -->
    <p>
    <a th:href="@{/roster}">結果入力</a>
    </p>
    <!-- リザルト出力 -->
    <p>
    <a th:href="@{/roster}">リザルト出力</a>
    </p>
    <!--
    <a class="btn btn-primary" th:href="@{/items/{id}/edit(id=*{id})}">変更</a>
    <a class="btn btn-primary" th:href="@{/items/{id}/edit(id=*{id})}">変更</a>
     -->
</body>
</html>