<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/button.css" />
    <link rel="stylesheet" href="/css/body.css" />
    <title>Strrugle For Life</title>
</head>

<header>
    <h1>すとりむ？</h1>
</header>

<body>
    <!-- ロースター作成 -->
    <p>
    <a th:href="@{/roster}"><img src="/image/btn_roster.gif"  alt="ロースター作成"/></a>
    </p>
    <!-- 結果入力 -->
    <p>
    <a th:href="@{/roster}"><img src="/image/btn_result.gif"  alt="戦績入力"/></a>
    </p>
    <!-- リザルト出力 -->
    <p>
    <a th:href="@{/roster}"><img src="/image/btn_resultOut.gif"  alt="リザルト出力"/></a>
    </p>
    <!--
    <a class="btn btn-primary" th:href="@{/items/{id}/edit(id=*{id})}">変更</a>
    <a class="btn btn-primary" th:href="@{/items/{id}/edit(id=*{id})}">変更</a>
     -->
</body>
</html>